body {
    background-color: beige;
}
#container {
    width: 100vw;
    height: 99vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#graphic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 50%;
    background-image: url(./diner-2009.jpg);
    background-size: cover;
}
div#form-div {
    margin-top: 12vh;
    display: flex;
    flex: 0.8 1 50%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
}
#form-div h2 {
    font-family: 'Caprasimo', serif;
    color: rgb(214, 114, 101);
    font-size: calc(10px + 2vw);
    padding-left: 5vw;
}
div#shout-out {
    padding-right: 5vw;
}

div#footer-2 {
    padding-left: 5vw;
}

div#form {
    background-color: rgb(214, 114, 101);
    padding-left: 5vw;
    padding-right: 5vw;
}

#logo {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.5047152650122548) 50%, rgba(255,255,255,0) 100%); 
}
#logo h1 {
    margin-top: 12vh;
    font-family: 'Caprasimo', serif;
    font-size: calc(16px + 5vw);
    color: beige;
    text-align: center;
    padding: 0 1ch 0 1ch;
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
}

label {
    font-family: "PT Serif Caption", serif;
    font-variant-caps: all-small-caps;
    color: beige;
}

i {
    text-decoration: underline;
}